body {
    margin: 0;
}

.header {
    background-color: #415a4a;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #415a4a;
    color: #fff;
    padding: 10px 20px;
    justify-content: center;
    display: grid;

}

main {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ffffff;
    font-size: 24px;
}

#tprincipal {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.2em;
}

#formEc {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

#formEc input {
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 3rem;
    height: 2rem;
}

#buttonSubmit {
    align-items: center;
    padding: 0.5rem;
}

#fi {
    width: max-content;
    display: inline-flex;
    font-size: 10px;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#fi a img {
    margin: auto;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

#logo {
    padding: auto;
    margin: auto;
}

#logo img {
    width: 100%;
    height: 100%;
}

.logo {
    width: max-content;
    display: flex;
}

.button {
    background-color: #A59E6A; /* Color de fondo */
    color: #000; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar de color */
    font-family: 'Times New Roman', Times, serif; /* Tipo de fuente */
}

.button:hover,
.button:focus {
    background-color: #60866D; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
}

#uaem {
    width: max-content;
    display: inline-flex;
    font-size: 10px;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#uaem a {
    text-decoration: none;
    width: max-content;
}

#uni {
    width: max-content;
    text-align: left;
    align-items: center;
    font-size: 12px;
}

#uaemex {
    margin: 1px;
    text-align: left;
}

#nav {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: right;
    display: contents;
}

#nav ul {
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 2rem;
}

#nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 0.5rem;
    padding: 10px;
    background-color: #A59E6A;
    border-radius: 10px;
}

#nav ul li:first-child {
    margin-left: 0;
}

#nav ul li:hover,
#nav ul li:focus {
    background-color: #51705c; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
}

#nav ul a {
    text-decoration: none;
    color: #000000;
}

#per li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: #A59E6A;
    border-radius: 10px;
}

#per li:first-child {
    margin-left: 0;
    margin-right: 0.5rem;
}

#per li:last-child {
    margin-right: 0;
    margin-left: 0.5rem;
}

#per {
    padding-left: 0;
}

#per li a {
    text-decoration: none;
    color: #000000;
}

#per li:hover,
#per li:focus {
    background-color: #3f5848; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
}

footer p {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    font-style: oblique;
    color: #ffffff;
}

input[type="number"] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#res {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.question {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #A59E6A;
    border-radius: 10px;
    font-size: 18px;
}

.question:hover,
.question:focus {
    cursor: default; /* Cambiar cursor al pasar por encima */
    background-color: #3f5848; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
}

.answer {
    display: none;
    font-size: 18px;
}


@media only screen and (max-width: 1075px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #nav {
        display: none;
    }
    
    #uaem {
        width: max-content;
        display: inline-flex;
        font-size: 10px;
        align-content: center;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo #logo {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
    }

    #uni {
        font-size: 12px;
    }

    #formEc {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }

    #fi a img {
        margin-left: 1rem;
        background-color: #fff;
        height: 100%;
        width: 100%;
    }

    input[type="number"] {
        width: 10%;
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
}