body {
    margin: 0;
}

.header {
    background-color: #60866D;
    color: #fff;
    padding: 10px 20px;
    display: flex;
}

footer {
    background-color: #60866D;
    color: #fff;
    padding: 10px 20px;
    justify-content: center;
    display: grid;

}

main {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ffffff;
    font-size: 24px;
}

#tprincipal {
    text-align: center;
    margin-top: 0.5rem;
}

#formEc {
    margin: 0;
    padding: 3rem;
    text-align: center;
}

#buttonSubmit {
    align-items: center;
    padding: 0.5rem;
}

#logo {
    padding: auto;
    margin: 3px;
    width: 50;
    height: 50;
}

#uaem {
    width: max-content;
}

#uni {
    width: max-content;
    text-align: left;
    display: inline-block;
    align-items: center;
}

#uaemex {
    margin: 1px;
    text-align: left;
}

#nav {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: right;
    display: contents;
}

#nav ul {
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 2rem;
}

#nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    background-color: #A59E6A;
    border-radius: 10px;
}

#nav ul li:first-child {
    margin-left: 0;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
}

#per li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: #A59E6A;
    border-radius: 10px;
}

#per li:first-child {
    margin-left: 0;
    margin-right: 0.5rem;
}

#per li:last-child {
    margin-right: 0;
    margin-left: 0.5rem;
}

#per {
    padding-left: 0;
}

#per li a {
    text-decoration: none;
    color: #fff;
}

footer p {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;

}

input[type="number"] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#res {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}